# From Github's Java gitignore #

*.class

# Package Files #
*.jar
*.war
*.ear

# Forge's Folders #
assets/forge/**/*
ixbm/**/* 
net/**/* 
paulscode/**/* 

# CoFHLib. Add later? #
cpw/**/*

# Base folder stuff #
deobfuscation_data-1.6.4.lzma
fml_at.cfg
fml_at.cfg~
fml_marker.cfg
fmlversion.properties
forge_at.cfg
forge_logo.png
mcpmod.info
Start.java