#Gradle-related doodads.
version.properties
#Ignore cached files.
.gradle/
build/
bin/
out/
#Minecraft game data
eclipse/
#Some weird metadata.
.classpath
.project
.settings/
.metadata/
#.eclipse/.metadata/.plugins/
#Project files
*.ipr
*.iws
*.iml

#All credit for the following to the authors of https://github.com/github/gitignore/blob/557c62cd54524fe6f7559cab042d91553bb0755e/Java.gitignore . Thanks guys!

*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
